body {
    margin:0px;
    margin-left:25px;

}

h1 {
    font-family:Arial;
}

.profile {
    display:flex;
    justify-content:center;
    width:650px;
    height:300px;
    border:1px;
    border-style:solid;
    border-color:grey;
}

.profilepicture img {
    width:225px;
    height:100%;
    padding-right:25px;
    object-fit:cover;
}

article {
    font-family: arial;
}

table {
    font-family: arial;
    border:1px;
    border-style:solid;
}

th {
    padding-top:5px;
    padding-bottom:10px;
}

td {
    padding-bottom:15px;
    padding-right:25px;
    padding-left:10px;
}

.bi-pencil {
    color:white;
    font-size:15px;

}

button {
    background-color: #2ECC40;
    border-radius: 50%;
    border-style:none;
    object-fit:cover;
}


@media only screen and (max-width: 600px) {
  body {
    width:100%;
  }

}

@media only screen and (max-width: 800px) {

  .profile table {
    width:100%;
    margin:0;
  }
}
